# eval "$(nix print-dev-env)"
export KUBECONFIG=~/.kube/s145.yaml
export SOPS_AGE_KEY_FILE="$HOME/.config/sops/age/keys.txt"
garage() {
  local pod
  pod=$(kubectl get pods -n garage -l garage.cluster=primary -o jsonpath='{.items[0].metadata.name}' 2>/dev/null)
  if [ -z "$pod" ]; then
    pod=$(kubectl get pods -n garage -l app.kubernetes.io/name=garage -o jsonpath='{.items[0].metadata.name}')
  fi
  kubectl exec -n garage "$pod" -- ./garage "$@"
}